.code-block {
    margin-bottom: 10px;
}

.code-block iframe,
.code-block code {
    display: block;
    width: 100%;
}

.code-block iframe {
    border: none;
}

.code-block iframe.hidden ~ code {
    margin-top: 0;
}

.code-block .btn { margin-top: 15px; }

.code-block .btn .icon {
    width: 1.5rem;
}

.code-block code {
    margin-top: 15px;
    padding: .5rem;
    background-color: color(var(--black) whiteness(60%));
}

code {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--primary-dk);
    white-space: pre;
    font-family: 'Inconsolata', 'Courier New', monospace;
    padding: .1rem .15rem;
    overflow: auto;
}
