@charset "UTF-8";

// @title font-face
// @group fonts
// Generates an @font-face declaration. Accepts arugments for weight, style, usage with the Rails Asset Pipeline and file formats.
//
// @todo test some stuff.
//
// @example scss
// @include font-face("source-sans-pro", "source-sans-pro/source-sans-pro-regular", normal, $asset-pipeline: true, $file-formats: eot woff ttf);

// @example css
// @font-face {
//   font-family: "source-sans-pro";
//   font-style: normal;
//   font-weight: normal;
//   src: font-url("source-sans-pro/source-sans-pro-regular.eot?#iefix") format("embedded-opentype"), font-url("source-sans-pro/source-sans-pro-regular.woff") format("woff"), font-url("source-sans-pro/source-sans-pro-regular.ttf") format("truetype");
// }

/**
 * @example css
 * body {
 * content: test;
 * }
 */

/**
 * @example css
 * body {
 * content: face;
 * }
 */


/**
 * @example
 * body {
 * content: face;
 * }
 */

@mixin font-face(
    $font-family,
    $file-path,
    $weight: normal,
    $style: normal,
    $asset-pipeline: $asset-pipeline,
    $file-formats: $global-font-file-formats) {

    @font-face {
        font-family: $font-family;
        font-style: $style;
        font-weight: $weight;
        src: font-source-declaration(
            $font-family,
            $file-path,
            $asset-pipeline,
            $file-formats,
            $font-url-prefix
        );
    }
}
