<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> resources}}
</head>
<body>
    {{{snippet}}}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var message = {
                    id: '{{id}}',
                    height: document.querySelector('html').scrollHeight,
                    width: 0
                };
            [].concat.apply([], document.body.children).forEach(function(el) {
                var max = Math.max(el.scrollWidth, el.offsetWidth, el.clientWidth);
                if (max > message.width) { message.width = max; }
            });
            window.parent.postMessage(message, '*');
            document.body.style.overflow = 'hidden';
        });
    </script>
</body>
</html>
