<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> resources}}
</head>
<body>
    {{{snippet}}}

    <script>
        function generateMessage() {
            return {
                id: '{{id}}',
                height: document.querySelector('html').scrollHeight,
            };
        };

        function updateiFrame() {
            var curMessage = generateMessage();

            if (!baseHeight) {
                baseHeight = curMessage.height;
                return window.parent.postMessage(curMessage, '*')
            }

            if (curMessage.height !== baseHeight) {
                baseHeight = curMessage.height;
                window.parent.postMessage(curMessage, '*');
            }
        };

        var baseHeight;

        document.addEventListener('DOMContentLoaded', function() {
            try {
                window.getAnimationFrame(updateiFrame);
            } catch (e) {
                setInterval(updateiFrame, 50);
            }
        });
    </script>
</body>
</html>
