<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{> resources}}
</head>
<body>
    {{{snippet}}}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var message = {
                    id: '{{id}}',
                    height: document.body.clientHeight,
                    width: 0
                };
            [].concat.apply([], document.body.children).forEach(function(el) {
                if (el.offsetWidth > message.width) { message.width = el.offsetWidth; }
            });
            window.parent.postMessage(message, '*');
        });
    </script>
</body>
</html>
